<!DOCTYPE html>
<html>
  <head>
    
    <% include ../Parts/Head.ejs %>
  </head>
  <body>
    <header>
      <% include ../Parts/Header.ejs %>
    </header>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
    <footer>
      <% include ../Parts/Footer.ejs %>
    </footer>
  </body>
</html>
