<!DOCTYPE html>
<html>
  <head>
    <% include ../Parts/Head.ejs %>
  </head>
  <body>
    <header>
      <a class="logout" href="/">Logout</a>
      <% include ../Parts/HeaderLogin %>
    </header>
    <main class="container">
      <h1><%= title %></h1>
      <p>Bienvenue sur la <%= title %></p>
      <div class="jumbotron">
        <form method="post">
          <h2>Bonjours <%= username %>!</h2>

        </form>
      </div>
    </main>
    <footer>
      <% include ../Parts/Footer.ejs %>
    </footer>
  </body>
</html>
