<!DOCTYPE html>
<html>
  <head>
    <% include ../Parts/Head.ejs %>
  </head>
  <body>
    <header>
      <% include ../Parts/HeaderLogin %>
    </header>
    <main class="container">
      <h1>Bienvenue sur la page du Panneau RAM</h1>
      <div class="jumbotron">
        <form method="post">
          <h2>Login</h2>
          <p>Username:</p>
          <input type="text" name="username" value="" ></br>
          <p>Password:</p>
          <input type="password" name="password" value=""></br>
          <input type="submit" value="Login" />
        </form>
      </div>
    </main>
    <footer>
      <% include ../Parts/Footer.ejs %>
    </footer>
  </body>
</html>
