<!DOCTYPE html>
<html>
  <head>
    <% include ../Parts/Head.ejs %>
  </head>
  <body>
    <header>
      <% include ../Parts/Header %>
    </header>
    <main class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div class="jumbotron">
        <form method="post">
          <h2>Login</h2>
          <input type="text" name="username" value="" >
          <input type="password" name="password" value="">
          <input type="submit" value="Login" />
        </form>
      </div>
    </main>
    <footer>
      <% include ../Parts/Footer.ejs %>
    </footer>
  </body>
</html>
