<!-- views/parts/Header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            </a>
        <% if(user == "admin") { %>
          <div>
            <ul class="nav navbar-nav">
              <li><a href="/panneau">Panneau RAM</a></li>
              <li><a href="/contact">Balance</a></li>
              <li><a href="/module/2">Mélangeur</a></li>
              <li><a href="/gestion">Gestion</a></li>
            </ul>
          </div>
        <% } else if(user == "opérateur") { %>
          <div>
            <ul class="nav navbar-nav">
              <li><a href="/">Acceuil</a></li>
              <li><a href="/Panneau">Panneau RAM</a></li>
              <li><a href="/contact">Balance</a></li>
              <li><a href="/module/2">Mélangeur</a></li>
            </ul>
          </div>
        <% } else { %>
          <div>
            <ul class="nav navbar-nav">
              <li><a href="/">Acceuil</a></li>
              <li><a href="/Panneau">Panneau RAM</a></li>
              <li><a href="/contact">Balance</a></li>
            </ul>
          </div>
        <% } %>
</nav>
